.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button.btn.btn-primary {
  margin-bottom: 20px;
}
span.fa.fa-pencil.mr-5 {
  margin: 3px;
}
span.fa.fa-trash.mr-5 {
  margin: 3px;
}
.text-right{
  margin-left:195px;
  cursor: pointer;
  
}
span.label.label-ranger {
  background-color: red;
}
